{% extends 'base.html' %}

{% block content %}
<h1 class="skeleton-heading">About Us</h1>
<div class="p-4 justify-content-center">
  <p>
    Welcome to Best Cars,
    Where Your Dreams Meet the Road
  </p>
  </br>
  <p>
    Welcome to the world of the Best Cars Dealership, a place where you can find the perfect car for your needs and
    dreams. Our dealership is not just a place where you can buy cars, it's an experience that will make you fall in
    love with the car of your choice. Our team of professionals is dedicated to making your car buying experience as
    seamless and enjoyable as possible.

    Our showroom is located in the heart of the city, and it's designed to provide you with an exceptional experience.
    As soon as you enter, you'll be greeted by our friendly and knowledgeable staff, who will guide you through our
    selection of cars. Our showroom features a wide range of cars from top manufacturers, including luxury and exotic
    cars that are not available anywhere else.

    We understand that buying a car is a significant investment, and that's why we offer only the best quality cars that
    have been thoroughly inspected and maintained. Our team of expert mechanics ensures that every car on our lot is in
    excellent condition, so you can buy with confidence.
  </p>
  </br>
  <p><a class="font-white" style="font-weight: bold;" href="{% url 'djangoapp:contact' %}">Get in touch with us
      today!</a></p>
</div>
{% endblock %}