{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h3>Contact</h3>
  <div class="mt-5 row g-2 text-center">
    <div class="col-sm-5 card text-white bg-dark mb-3 g-2" style="margin-right: 2rem;">
      <div class="card-header">Contact Information</div>
      <div class="card-body">
        <h5 class="card-title">Store Manager</h5>
        <p class="card-text">Name: Michael Scott </br> Mobile: 41373734689 </br> Email: prisonmike@bestcars.com </p>
      </div>
    </div>
    <div class="col-sm-5 card text-white bg-dark mb-3 g-2">
      <div class="card-header">Contact Information</div>
      <div class="card-body">
        <h5 class="card-title">Lead Salesman</h5>
        <p class="card-text">Name: James Halpert </br> Mobile: 125678892 </br> Email: jimothy@bestcars.com </p>
      </div>
    </div>
    <div class=" col-sm-5 card text-white bg-dark mb-3 g-2">
      <div class="card-header">Contact Information</div>
      <div class="card-body">
        <h5 class="card-title">Customer Care</h5>
        <p class="card-text">Name: Pamela Beesly </br> Mobile: 557844332 </br> Email: pamelaanderson@bestcars.com </p>
      </div>
    </div>


  </div>
</div>
{% endblock %}